# Node + Sveltekit stuff
/build/
/package/

# Created so that migrations can run in production
knexfile.cjs

# I occassionally compile the .c programs in tasks/ and forget to clean up
# after myself:
a.out
